@import "../../styles/variables.scss";

.Header {
  height: 90rem;
  display: flex;

  @media screen and (max-width: $tablet) {
    height: 67rem;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // left side of Header
  &_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_card {
    width: 100%;
    max-width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &_heading {
    font-size: 5rem;
    color: $darkBlue;

    @media screen and (max-width: $tablet) {
      font-size: 3rem;
    }
  }
  &_subheading {
    color: darkgray;
    max-width: 45rem;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet) {
      padding-right: 5rem;
    }
  }
  // button container
  &_btnContainer {
    align-self: flex-start;
    margin-top: 2rem;

    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &_button {
    padding: 2rem 4rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(109, 106, 106);
    cursor: pointer;
  }
  &_check {
    margin-right: 1.5rem;
  }
  &_span {
    color: $darkBlue;
    border-bottom: 5px solid $darkBlue;
    cursor: pointer;
    margin-left: 0.5rem;

    @media screen and (max-width: $tablet) {
      display: inline;
    }
  }
  // right side of header
  &_right {
    width: 50%;
    background-color: $lightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_image {
    background-size: contain;
    width: 100%;
    padding: 4rem;
  }
}
