@import "../../styles/variables.scss";

.Footer {
  padding: 7rem 0;

  &_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &_logo {
    @media screen and (max-width: $tablet) {
      margin-bottom: 2rem;
      margin-left: 2rem;
    }
  }
  // left side
  &_left {
    flex: 0.5;
    width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $mobile) {
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
    }
  }
  &_card {
  }
  &_title {
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &_links {
    list-style: none;
    & > * {
      margin-bottom: 2rem;
    }
  }
  &_item {
    color: lightgray;
  }

  // end of left side
  &_right {
    flex: 0.5;
    width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $tablet) {
      justify-content: flex-start;
      margin-top: 5rem;
    }
  }
  &_ctaContainer {
    border: 1px solid lightgray;
    padding: 1rem;
    max-width: 43rem;
    display: flex;
    width: 100%;
    width: 43rem;
    justify-content: space-between;
  }
  &_input {
    border: none;
    margin-left: 2rem;
    outline: none;
  }
}
